<body bgcolor=white>

<table width=100%>
<tr><td>
<font size=5> <a href=http://leto.net>leto.net</a> 
</td>
<td align=right>
<!-- SiteSearch Google -->
<form method="get" action="http://www.google.com/custom" target="_top">
<table border="0" bgcolor="#ffffff">
<tr><td nowrap="nowrap" valign="top" align="left" height="32">
<a href="http://www.google.com/">
<img src="http://www.google.com/logos/Logo_25wht.gif" border="0" alt="Google" align="middle"></img></a>
</td>
<td nowrap="nowrap">
<input type="hidden" name="domains" value="leto.net"></input>
<label for="sbi" style="display: none">Enter your search terms</label>
<input type="text" name="q" size="31" maxlength="255" value="" id="sbi"></input>
<label for="sbb" style="display: none">Submit search form</label>
<input type="submit" name="sa" value="Search" id="sbb"></input>
</td></tr>
<tr>
<td>&nbsp;</td>
<td nowrap="nowrap">
<table>
<tr>
<td>
<input type="radio" name="sitesearch" value="" checked id="ss0"></input>
<label for="ss0" title="Search the Web"><font size="-1" color="#000000">Web</font></label></td>
<td>
<input type="radio" name="sitesearch" value="leto.net" id="ss1"></input>
<label for="ss1" title="Search leto.net"><font size="-1" color="#000000">leto.net</font></label></td>
</tr>
</table>
<input type="hidden" name="client" value="pub-2860423566410740"></input>
<input type="hidden" name="forid" value="1"></input>
<input type="hidden" name="ie" value="ISO-8859-1"></input>
<input type="hidden" name="oe" value="ISO-8859-1"></input>
<input type="hidden" name="flav" value="0000"></input>
<input type="hidden" name="sig" value="gvkLXRn57Z1WkebK"></input>
<input type="hidden" name="cof" value="GALT:#008000;GL:1;DIV:#336699;VLC:663399;AH:center;BGC:FFFFFF;LBGC:336699;ALC:0000FF;LC:0000FF;T:000000;GFNT:0000FF;GIMP:0000FF;FORID:1"></input>
<input type="hidden" name="hl" value="en"></input>
</td></tr></table>
</form>
<!-- SiteSearch Google -->
</td></tr></table>


<table border=0>
<tr>
<td valign=top width=120>
<a href=/blog/>blog</a><br>
<a href=/code/>code</a><br>
<a href=/forums/>forums</a><br>
<a href=/freebsd/>freebsd</a><br>
<a href=/math/>math</a><br>
<a href=/pics.php>pics</a><br>
<a href=/travel.php>travel</a><br>
<a href=/writing.php>writing</a><br>
</td><td>
<center><h2><a href="http://leto.net/modstarter.cgi">Start a New Perl Module</a></h2><table border=0 width=100%><tr><td> <a href=http://cpan.org><img border=0 src=/pics/camel.gif></a></td><td>  <p>
		<form method="post" action="/modstarter.cgi" enctype="multipart/form-data">
		<table border=0>
		<tr><th>Module Name(s)</th><td><input type="text" name="module_names" value="My::New::Module" size="30" /></td></tr>

		<tr><th>Distribution</th><td><input type="text" name="module_distro"  size="30" /></td></tr>
		<tr><th>Builder</th><td>
		<select name="module_builder"><option value="Module::Build">Module::Build</option><option value="ExtUtils::MakeMaker">ExtUtils::MakeMaker</option><option value="Module::Install">Module::Install</option></select></td></tr> <tr><th>License</th><td><input type="text" name="module_license" value="perl"  size="30" /></td></tr>
		<tr><th>Author</th><td><input type="text" name="module_author"  size="30" /></td></tr>
		<tr><th>Email</th><td><input type="text" name="module_email"  size="30" /></td></tr>

		</table> <input type="hidden" name="rm" value="mode2"  /><input value="Create Module" type="submit" name=".submit" /></form>
		</td></tr></table><br>
<font size=1>
<b>Hints</b>:<br> Leave Distribution blank if you are only creating one module. <br>
			Separate multiple module names by spaces.<br> 
For more info about creating a perl module read <a href=http://perldoc.perl.org/perlnewmod.html>perlnewmod</a>.
</font>
<p>
Thanks go to <a href=http://search.cpan.org/dist/Module-Starter/>Module::Starter</a> for doing the hard work and to all the people who work on <a href=http://perl.org>Perl</a>, you rock.
</td>
